.board {
    position: relative;
    height: calc(100vh - 18px);

}

.board .slide {
    position: absolute;
    width: 100%;

}

.board .slide:target {
    z-index: 100;
}

.board .slide img {
    width: 100%;
    margin: 0 auto;
}

.prev {
    position: absolute;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
    left: 0;
    top: 50%;
    height: 91px;
    width: 40px;
    color: #000;
    opacity: 0.6;
}

.next {
    position: absolute;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
    right: 0;
    top: 50%;
    height: 91px;
    width: 40px;
    color: #000;
    opacity: 0.6;
}

.next:hover, .prev:hover {
    color: #000;
    opacity: 1;
}