<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <=%title%>
    </title>
</head>

<body>
    <div id="navigator"></div>

    <div class="contact">
        <div class="list-items">
            <div class="item item-1">
                <div class="none">
                    <p>ติดต่อ – Contacts</p>
                </div>
                <div>
                    <p><i>JCDecaux Thailand ติดต่อ – Contacts</i>
                        <a href="/contact/th"><span id="th" class="lang">TH</span></a>
                        |
                        <a href="/contact/eng"><span id="en" class="lang">EN</span></a>
                    </p>
                </div>
            </div>

            <div id="english" class=<%=isEN%>>
                <div class="item item-2">
                    <h3>3 Rajanakarn Building, 11st Floor, South Sathorn Road, Yannawa, Sathorn, Bangkok, Thailand 10120
                    </h3>
                    <h3>Tel: (+662) 676 7655-64, Fax:(+662) 676 7667</h3>
                </div>
                <div class="item item-3">
                    <p>Mr. Arnaud Marie, Michel de Ruffray – Managing Director - <a
                            href="mailto:Arnaud.deruffray@jcdecaux.com">Arnaud.deruffray@jcdecaux.com </a></p>
                </div>
                <div class="item item-4">
                    <p>Ms. Atiporn Lertskulsomboon – Finance & Accounting Director & Human Resource - <a
                            href="mailto:AtipornL@jcdecaux.com">AtipornL@jcdecaux.com</a>
                    </p>
                </div>
                <div class="item item-5">
                    <p> Ms. Chantana Arschariyawinyoo – General Manager Airport, Sales & Marketing - <a
                            href="mailto:ChantanaA@jcdecaux.com">ChantanaA@jcdecaux.com</a>
                    </p>
                </div>
                <div class="item item-6">
                    <p> Mr. Theera Sriboonwong – Operations Director - <a
                            href="mailto:TheeraS@jcdecaux.com">TheeraS@jcdecaux.com</a></p>
                </div class="item">

                <div class="item item-7">
                    <p> Ms. Panadda Deesiri – HR & Administration Manager – <a
                            href="mailto:PanaddaD@jcdecaux.com">PanaddaD@jcdecaux.com</a></p>
                </div>
            </div>
            <div id="thailand" class=<%=isTH%>>
                <div class="item item-2">
                    <h3>เลขที่ 3 อาคารรัจนาการ ชั้น 11 ถนนสาทรใต้ แขวงยานนาวา เขตสาทร กรุงเทพฯ ประเทศไทย 10120
                    </h3>
                    <h3>โทร: (+662) 676 7655, แฟกซ์:(+662) 676 7667</h3>
                </div>
                <div class="item item-3">
                    <p>นายอาร์โนลด์ มารี มิเชล เดอ รุฟเฟรย์ – กรรมการผู้จัดการ - <a
                            href="mailto:Arnaud.deruffray@jcdecaux.com">Arnaud.deruffray@jcdecaux.com </a></p>
                </div>
                <div class="item item-4">
                    <p>นางสาวอติพร เลิศสกุลสมบูรณ์ – ผู้อำนวยการฝ่ายการเงิน,บัญชี และบุคคล - <a
                            href="mailto:AtipornL@jcdecaux.com">AtipornL@jcdecaux.com</a>
                    </p>
                </div>
                <div class="item item-5">
                    <p> นางสาวฉันทนา อัจฉริยวิญญู – ผู้จัดการทั่วไปฝ่ายสนามบิน การขาย และการตลาด - <a
                            href="mailto:ChantanaA@jcdecaux.com">ChantanaA@jcdecaux.com</a>
                    </p>
                </div>
                <div class="item item-6">
                    <p> นายธีระ ศรีบุญวงศ์ – ผู้อำนวยการฝ่ายปฏิบัติการ - <a
                            href="mailto:TheeraS@jcdecaux.com">TheeraS@jcdecaux.com</a></p>
                </div class="item">
                <div class="item item-7">
                    <p> นางสาวปนัดดา ดีศิริ – ผู้จัดการฝ่ายบุคคลและธุรการ – <a
                            href="mailto:PanaddaD@jcdecaux.com">PanaddaD@jcdecaux.com</a></p>
                </div>
            </div>
        </div>
        <!--<script src="./script/navigator.js"></script>-->
</body>

</html>