<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-Frame-Options" content="deny">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <div id="navigator">
    </div>
    <div class="screen-center">
        <div class="grid-contener-home">
            <div class="items item-1">
                <a href="/about" target="_top"><img src="./img/page_link1.png" alt="Jcdecaux Thailand"></a>
            </div>
            <div class="items item-2">
                <a href="https://www.jcdecaux.com/our-presence" target="_blank"><img src="./img/page_link2.png"
                        alt="Our Presence"></a>
            </div>
            <div class="items item-3">
                <a href="https://www.jcdecaux.com/" target="_blank"><img src="./img/page_link3.png"
                        alt="Jcdecaux Group"></a>
            </div>
            <div class="items item-4">
                <a href="https://www.jcdecaux.com/about-us#aboutjcdecaux" target="_blank"><img
                        src="./img/page_link4.png" alt="About JCDecaux"></a>
            </div>
            <div class="items item-5">
                <video width="100%" controls="" data-autoplay="true" preload="true" loop="" autoplay="" muted="true">
                    <source src="./mutimedia/JCD_24MB.mp4" type="video/mp4" />
                    You browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</body>

</html>