<div class="policy-menu">
    <div class="items item-1">
        <p>
            <%=columns%>
        </p>
    </div>
    <div class="items item-2">
        <a href="internal"><button>Private Policy for Internal Stakeholder</button></a>
        <a href="external"><button>Privacy Policy for External Stakeholder</button></a>
        <a href="cctv"><button>CCTY Privacy Notice</button></a>
    </div>
</div>

<div class="documents">
    <div class="<%=internal%>">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-1.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-2.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-3.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-4.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-5.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-6.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-7.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-8.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-9.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-10.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-11.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-12.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-13.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-14.png">
        <img src="/img/PrivacyPolicyForInternalStakeholder/PrivacyPolicyForInternalStakeholder-15.png">
    </div>
    <div class="<%=external%>">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-1.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-2.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-3.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-4.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-5.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-6.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-7.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-8.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-9.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-10.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-11.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-12.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-13.png">
        <img src="/img/PrivacyPolicyForExternalStakeholder/PrivacyPolicyForExternalStakeholder-14.png">
    </div>
    <div class="<%=cctv%>">
        <img src="/img/CCTVPrivacyNotice/CCTVPrivacyNotice-1.png">
        <img src="/img/CCTVPrivacyNotice/CCTVPrivacyNotice-2.png">
        <img src="/img/CCTVPrivacyNotice/CCTVPrivacyNotice-3.png">
        <img src="/img/CCTVPrivacyNotice/CCTVPrivacyNotice-4.png">
        <img src="/img/CCTVPrivacyNotice/CCTVPrivacyNotice-5.png">
        <img src="/img/CCTVPrivacyNotice/CCTVPrivacyNotice-6.png">
        <img src="/img/CCTVPrivacyNotice/CCTVPrivacyNotice-7.png">
    </div>
</div>